body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    padding: 0;
}
.ResultTable{
    border-collapse: collapse;
}
.ResultTable td, .ResultTable th{
    border: 1px solid gray;
    padding: 7px;
    text-align: center;
}
.inputTable td{
    text-align: center;
    vertical-align: middle;
}
.inputTable input{
    width: 30px;
    text-align: right;
    height: 100%;
    color: lightcoral;
}
.cellBody{
    margin: 5px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: inline-block;
    padding: 0 10px;
    border-radius: 10px;
}